@import url(./index.css);

#drum-machine {
  background: rgb(95, 100, 96);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 5px 5px rgb(255, 123, 0);
}

#display {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
}

#drum-pad {
  background-color: rgb(95, 100, 96);
  height: 220px;
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*child elements of #drum-pad*/
.drum-pad-normal {
  display: flex;
  background-color: rgb(60, 94, 94);
  font-size: large;
  font-weight: bold;
  width: 30%;
  height: 30%;
  margin: 4px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;*/
}

.drum-pad-clicked {
  display: flex;
  background-color: rgb(182, 171, 17);
  font-size: large;
  font-weight: bold;
  width: 30%;
  height: 30%;
  margin: 4px;
  justify-content: center;
  align-items: center;
}

.drum-pad:hover {
  cursor: pointer;
}
